<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Registration Client</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Customer registration</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
            <div class="box-tools pull-right">
                <a href="/customers" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${customer}" th:action="@{/customers/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Firstname">Firstname</label>
                    <input type="text" required="true" class="form-control" th:field="*{firstname}" id="firstname" />
                </div>
                <div class="form-group">
                    <label for="Lastname">Lastname</label>
                    <input type="text" required="true" class="form-control" th:field="*{lastname}" id="lastname" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" required="true" class="form-control" th:field="*{email}" id="email" />
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
