<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Registration Client</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Cliente</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/customers" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${outletsetup}" th:action="@{/outletsetup/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" required="true" class="form-control" th:field="*{name}" id="firstname" />
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" required="true" class="form-control" th:field="*{address}" id="lastname" />
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" required="true" class="form-control" th:field="*{phone}" id="lastname" />
                </div>
                <div class="form-group">
                    <label for="isDeleted">IsDeleted</label>
                    <input type="text" required="true" class="form-control" th:field="*{isDeleted}" id="lastname" />
                </div>
                 <div class="form-group">
                    <label for="version">Version</label>
                    <input type="text" required="true" class="form-control" th:field="*{version}" id="lastname" />
                </div>
                
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>