<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
</head>
<body>
	<section layout:fragment="header">
		<h1>Clients</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Clients</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Lists</h3>
				<div class="box-tools pull-right">
					<a th:href="@{'/outletsetup/edit/'+0}" type="button" class="btn btn-box-tool"><i
						class="fa fa-plus"></i></a> <br clear="all" />
				</div>
			</div>


			<div class="box-body no-padding">
				<table class="table table-dark">
					<thead>
						<tr>
							<th>id</th>
							<th>Name</th>
							<th>Address</th>
							<th>Phone</th>
							<th>IsDeleted</th>
							<th>Time-stamp</th>
							<th>Version</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="outlet : ${list}">
							<td th:text="${outlet.id}">ID</td>
							<td th:text="${outlet.name}">NAME</td>
							<td th:text="${outlet.address}">ADDRESS</td>
							<td th:text="${outlet.phone}">PHONE</td>
							<td th:text="${outlet.isDeleted}">IS_DELETED</td>
							<td th:text="${outlet.timeStamp}">TIME_STAMP</td>
							<td th:text="${outlet.version}">VERSION</td>
							<td><a th:href="@{'/outletsetup/edit/'+${outlet.id}}">Edit</a></td>
							<td><a th:href="@{'/outletsetup/delete/'+${outlet.id}}">Delete</a></td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="box-footer clearfix">
				<ul class="pagination pagination-sm no-margin pull-right">
					<li><a href="/outlets/1">Primeira</a></li>
					<li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}"
						th:class="${p == currentIndex} ? 'active' : ''"><a
						th:href="${'/outlets/' + p}" th:text="${p}"></a></li>
					<li><a th:href="${'/outlets/' + endIndex}">Última</a></li>
				</ul>
			</div>


		</div>
	</div>
</body>
</html>