<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Registration Client</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Cliente</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/roles" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${role}" th:action="@{/roles/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="rolename">Role Name</label>
                    <input type="text" required="true" class="form-control" th:field="*{roleName}" id="rolename" />
                </div>
                <div class="form-group">
                    <label for="Password">Name Prefix</label>
                    <input type="text" required="true" class="form-control" th:field="*{namePrefix}" id="nameprefix" />
                </div>
                 <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" required="true" class="form-control" th:field="*{description}" id="description" />
                </div>
                <div class="form-group">
                    <label for="taf">Task Access Functionalities</label>
                    <input type="text" required="true" class="form-control" th:field="*{taskAccessFunctionalities}" id="taf" />
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>