<div th:fragment="header">
    <!-- Logo -->
    <a class="logo" href="index2.html">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>AL</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Spring</b>AdminLte</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img alt="User Image" class="user-image" th:src="@{/dist/img/user2-160x160.jpg}"/>
                        <span class="hidden-xs">Uzumaki Naruto</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img alt="User Image" class="img-circle" th:src="@{/dist/img/user2-160x160.jpg}"/>

                            <p>
                                Uzumaki Naruto - Hokage
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat" href="#">My Contacts</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>