<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Registration Client</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Cliente</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/users" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${user}" th:action="@{/users/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Username">User Name</label>
                    <input type="text" required="true" class="form-control" th:field="*{username}" id="username" />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" required="true" class="form-control" th:field="*{password}" id="password" />
                </div>
                 <div class="form-group">
                    <label for="PhoneNumber">Phone Number</label>
                    <input type="text" required="true" class="form-control" th:field="*{phoneNumber}" id="password" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" required="true" class="form-control" th:field="*{email}" id="email" />
                </div>
                <div>
						<label class="manage_label">Role List:</label>
						<select
							name="basic[]" multiple="multiple"
							class=" 3col form-control active" id="roleSelect" size="6"
							th:field="*{roleIds}" onchange="onRoleChanged()">
							<option th:each="tmpRole : ${roleList}" th:value="${tmpRole.id}"
								th:text="${tmpRole.roleName}"></option>
						</select>
				</div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>